*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container img{
    width: 100%;
}
.container .overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.container h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f2f2f2;
    font-weight: 500;
    font-size: 100px;
    letter-spacing:3px;
    font-family: 'Times New Roman', Times, serif;
}
.quotes{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
.quotes h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 300;
}
